

body{
    font-family: 'Roboto Slab', sans-serif;
    background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/purty_wood.png");
    /*background-image: url("./assets/workarea.jpg"); */
}

.flexbox-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    /* background-color:orange; */
    /* justify-content: flex-end */
}

/* linkedin-github-resume */
.flexbox-item-naviconsonly{
    display: flex;
    justify-content: space-around;
}



.flexbox-item-phoneinfo{
  display: flex;
  justify-content: center;
}

.about-me{
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 10px;
}
img{
    border-radius: 10px;
}

.fewthings{
    padding-top: 40px;
}

